  <div class="container-fluid"></div>
    <div class="well well-sm">
      <p class="text-muted text-center">By using this application you agree to follow the <a href="/terms-of-service"  target="_blank">Terms of Service</a></p>
      <p class="text-muted text-center">Chatsplosion <%= new Date().getFullYear() %> All Rights Reserved</p>
    </div>
  </div>
