<html>
	<head><title>Login - Chatsplosion.com</title></head>
	<body>
		
		<div class="container-fluid">		
			<form method="post">
				<label for="username">Username: </label>
				<input type="text" name="username" />
				<label for="password">Password: </label>
				<input type="passowrd" name="password" />
				<input type="submit" name="submit" value="login" />
			</form>

		</div>
	</body>
</html>