<!DOCTYPE html>
<html>
<head>
	<title>www.chatsplosion.com - home page</title>
	<link rel="stylesheet" href="/css/bootstrap.min.css" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

	<div class="container-fluid">

		<div class="row">
			<nav class="navbar navbar-default">
				<div class="container-fluid">
					<div class="navbar-header">
						 <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						 	<i class="glyphicon glyphicon-menu-hamburger"></i>
						 </button>
						<a class="navbar-brand" href="/">
							 <i class="glyphicon glyphicon-envelope"></i> Chatsplosion.com
						</a>
					</div>
					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						<ul class="nav navbar-nav">
							<li class="active"><a href="/">Home</a></li>
							<% if( user) { %>
								<li><a href="/notes">Notes</a></li>
								<li><a href="/users">Users</a></li>
							<% } %>
							<li><a href="/articles">News</a></li>
							<li><a href="/terms-of-service">Terms</a></li>
							<li><a href="/phaser">Game</a></li>
						</ul>
						<ul class="nav navbar-nav navbar-right">
							<li><a href="/tickets">Help/Support</a></li>
							<li class="text-right">
								<% if( user) { %>
									<p class="navbar-text"><a href="/users" target="_blank">Users Online:</a> <span id="usercount">0</span> &nbsp;Logged In as: <a href="./user/<%= user.username %>"><%= user.username %></a> <a href="./logout" >Logout</a><p>
								<% } else { %>
									<div class="btn-group">
										<button type="button" class="btn btn-success navbar-btn" data-toggle="modal" data-target="#loginModal">
										  Login
										</button>
										<button type="button" class="btn btn-primary navbar-btn" data-toggle="modal" data-target="#registerModal">
										  Register
										</button>
									</div>
									<p class="navbar-text">Users Online: <span id="usercount">0</span></p>
								<% } %>

							</li>
						</ul>
					</div>
				</div>
			</nav>
		</div>

		<% if( !user) { %>
			<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<form id="userlogin" method="post" action="./login">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							<h4 class="modal-title">Login</h4>
						</div>
						<div class="modal-body">
								<div class="form-group">
									<label>Username</label>
									<input type="text" name="username" class="form-control"/>
								</div>
								<div class="form-group">
									<label>Password</label>
									<input type="password" name="password" class="form-control"/>
								</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
							<button type="submit" name="submit" class="btn btn-primary">Login</button>
						</div>
					</form>
				</div><!-- /.modal-content -->
			</div><!-- /.modal-dialog -->
		</div><!-- /.modal -->


		<div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="registerModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<form method="post" action="/register">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							<h4 class="modal-title">Register</h4>
						</div>
						<div class="modal-body">
							<div class="form-group">
								<label for="username">Username: </label>
								<input type="text" name="username" class="form-control"/>
							</div>
							<div class="form-group">
								<label for="password">Password: </label>
								<input type="password" name="password" class="form-control" />
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
							<button type="submit" name="submit" class="btn btn-primary">Register</button>
						</div>
					</form>
				</div><!-- /.modal-content -->
			</div><!-- /.modal-dialog -->
		</div><!-- /.modal -->

			<div class="connected">
				<div class="row">
					<div class="col-xs-12">

					</div>
				</div>
			</div>
		<% } %>

		<div class="row welcome">
			<div class="col-xs-12">
				<p class="alert alert-info text-justify">
					<a class="pull-right remove"><i class="glyphicon glyphicon-remove"></i> Close</a>
					<strong>Welcome,</strong><br /><br />
					 Registration enables you to reserve your favourite username and also lets you be able to save data such as notes. While chatting you will see a small star next in each post. Clicking on this lets you save that post for later. Very handy to save information like event dates, meeting locations or even just youtube videos to watch later. Later on if you decide you are happy to share more information with us; such as your real name and email address. Just visit your user page by clicking on your username in the top right hand corner and submit anything you wish to add. We do plan on adding profile pages later on.<br /><br />
					<strong>From<br /><br /> The Sign Painter</strong>
				</p>
			</div>
		</div>


			<div class="connected">
				<div class="row">
					<div class="col-xs-10">
						<ul id="rooms" class="nav nav-tabs">
							<li role="presentation" class="active"><a href="#" data-room="Lobby">Lobby</a></li>
						</ul>
					</div>
					<div class="col-xs-2">
						<strong>Room Users</strong>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-10">
						<ul id="conversation" class="list-group"></ul>
					</div>
					<div class="col-xs-2">
						<ul id="userList" class="list-group">
							<li class="list-group-item">N/A</li>
						</ul>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<% if( user) { %>
							<button type="button" id="joinAuthed" value="send" class="btn btn-success"><i class="glyphicon glyphicon-ok"></i>  Join</button>
						<% } else { %>
							<button type="button" id="join" value="send" class="btn btn-success"><i class="glyphicon glyphicon-ok"></i>  Join</button>
						<% } %>
						<form id="chatform" style="display:none;">
							<div class="input-group">
							<input id="data" type="text" class="form-control"/>
							<span class="input-group-btn">
								<button type="button" id="datasend" value="send" class="btn btn-success"><i class="glyphicon glyphicon-send"></i>  Send</button>
								<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
									<i class="glyphicon glyphicon-plus"></i>	Create Room
								</button>
							</span>
							</div>
						</form>
					</div>
				</div>
				<div class="row">
						<div class="col-xs-12">
							&nbsp;
						</div>
					</div>

				<div class="row">
						<div class="col-xs-12">
							<div class="well">
								<p class="text-justify">
									<strong>Chat Guide</strong><br />
									<ol>
										<li>First click join and choose a room</li>
										<li>Clicking on a user name allows you to invite a user to private chat</li>
										<li>Click on the star within a post enables you to save the post for later as a note.</li>
										<li>You can paste links to images directly into your post to share them. For example: http://www.whatidos.com/whatidos/169.jpg</li>
										<li>You can also paste youtube links. Try this one: https://www.youtube.com/watch?v=BROWqjuTM0g</li>
										<li>Can't find a room you like? Just create a new one.</li>
									</ol>
								</p>
							</div>
						</div>
				</div>


			<div class="row">
				<div class="col-xs-12">
					<h2>Latest News</h2>
					<ul class="news-summary list-group">
					</ul>
				</div>
			</div>


		<!-- Modal -->
		<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title" id="myModalLabel">Create a new room</h4>
					</div>
					<div class="modal-body">
						<div class="row">
							<form>
								<div class="col-xs-12">
									<label>Room Name</label>
									<input type="text" id="roomname" class="form-control" />
								</div>

								<div class="col-xs-12">
									<label>Password</label>
									<input type="text" id="roompassword" class="form-control"/>
								</div>
								<div class="col-xs-12">&nbsp;</div>
								<div class="col-xs-12">
									<p class="text-justify"><i>Note: By filling in this form you can create a new room to chat in. To add password protection to your room type in a password below. If not then just leave it blank and no password will be required to chat in that room.</i></p>
								</div>

							</form>
						</div>
					</div>

					<div class="modal-footer">
						<span class="btn-group">
							<button type="button" class="btn btn-danger" data-dismiss="modal"><i class="glyphicon glyphicon-remove"></i> Close</button>
							<button type="button" class="btn btn-success" id="createroom" value="send" class="btn btn-default" data-dismiss="modal"><i class="glyphicon glyphicon-plus"></i>  New Room</button>
						</span>
					</div>

				</div>
			</div>
		</div>








		</div> <!--- end of connected--->

	</div> <!-- /container -->

	<div class="row">&nbsp;</div>

	<div class="container-fluid">
		<div class="well well-sm">
			<p class="text-muted text-center">By using this application you agree to follow the <a href="/terms-of-service" target="_blank">Terms of Service</a></p>
			<p class="text-muted text-center">Chatsplosion.com 2015 All Rights Reserved</p>
		</div>
	</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="responsivevoice.js"></script>
<script src="marked.js"></script>
<script src="main.js"></script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-22261401-2', 'auto');
  ga('send', 'pageview');

</script>
</body>
</html>
