<!DOCTYPE html>
<html>
<head>
	<title>App</title>
	<link rel="stylesheet" href="/css/bootstrap.min.css" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

	<div class="container-fluid">

		<div class="row">
			<nav class="navbar navbar-default">
				<div class="container-fluid">
					<div class="navbar-header">
						 <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						 	<i class="glyphicon glyphicon-menu-hamburger"></i>
						 </button>
						<a class="navbar-brand" href="/">
							 <i class="glyphicon glyphicon-envelope"></i> Chatsplosion.com
						</a>
					</div>
					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						<ul class="nav navbar-nav">
							<li class="active"><a href="/">Home</a></li>
							<li><a href="/notes">Notes</a></li>
							<li><a href="/news">News</a></li>
							<li><a href="/terms-of-service">Terms</a></li>
						</ul>
						<ul class="nav navbar-nav navbar-right">
							<li class="text-right">
								<% if( user) { %>
									<p class="navbar-text">Users Online: <span id="usercount">0</span> &nbsp;Logged In as: <a href="./user"><%= user.username %></a> <a href="./logout">Logout</a><p>
								<% } else { %>
									<button type="button" class="btn btn-success navbar-btn" data-toggle="modal" data-target="#loginModal">
									  Login
									</button>
									<button type="button" class="btn btn-primary navbar-btn" data-toggle="modal" data-target="#registerModal">
									  Register
									</button>
									<p class="navbar-text">Users Online: <span id="usercount">0</span></p>
								<% } %>

							</li>
						</ul>
					</div>
				</div>
			</nav>
		</div>

		<% if( !user) { %>
			<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<form id="userlogin" method="post" action="./login">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							<h4 class="modal-title">Login</h4>
						</div>
						<div class="modal-body">
							<div class="row">
								<div class="col-xs-2">
									<label>Username</label>
								</div>
								<div class="col-xs-4">
									<input type="text" name="username" class="form-control"/>
								</div>
								<div class="col-xs-4">
									<input type="password" name="password" class="form-control"/>
								</div>
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
							<button type="submit" name="submit" class="btn btn-primary">Login</button>
						</div>
					</form>
				</div><!-- /.modal-content -->
			</div><!-- /.modal-dialog -->
		</div><!-- /.modal -->


		<div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="registerModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<form method="post" action="/register">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							<h4 class="modal-title">Register</h4>
						</div>
						<div class="modal-body">
							<div class="row">
								<div class="col-xs-2">
									<label for="username">Username: </label>
								</div>
								<div class="col-xs-4">
									<input type="text" name="username" class="form-control"/>
								</div>
								<div class="col-xs-2">
									<label for="password">Password: </label>
								</div>
								<div class="col-xs-4">
									<input type="password" name="password" class="form-control" />
								</div>
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
							<button type="submit" name="submit" class="btn btn-primary">Register</button>
						</div>
					</form>
				</div><!-- /.modal-content -->
			</div><!-- /.modal-dialog -->
		</div><!-- /.modal -->

			<div class="connected">
				<div class="row">
					<div class="col-xs-12">

					</div>
				</div>
			</div>
		<% } %>

		<% if( user) { %>
			<div class="connected">
				<div class="row">
					<div class="col-xs-12">
						<ul id="rooms" class="nav nav-tabs">
							<li role="presentation" class="active"><a href="#" data-room="Lobby">Lobby</a></li>
						</ul>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<ul id="conversation" class="list-group"></ul>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<button type="button" id="join" value="send" class="btn btn-success"><i class="glyphicon glyphicon-ok"></i>  Join</button>
						<form id="chatform" style="display:none;">
							<div class="input-group">
							<input id="data" type="text" class="form-control"/>
							<span class="input-group-btn">
								<button type="button" id="datasend" value="send" class="btn btn-success"><i class="glyphicon glyphicon-send"></i>  Send</button>
								<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
									<i class="glyphicon glyphicon-plus"></i>	Create Room
								</button>
							</span>
							</div>
						</form>
					</div>
				</div>

			<% } else { %>

				<div class="row">
						<div class="col-xs-12">
							<p class="alert alert-info text-justify">
								<strong>Welome,</strong><br /><br />
								To chat on our website just register a username and password. It doesn't even have to be an email address. It just has to be 4 characters long and different to anyone else already registered. Registration enables you to reserve your favourite username and also lets you be able to save data such as notes. While chatting you will see a small star next in each post. Clicking on this lets you save that post for later. Very handy to save information like event dates, meeting locations or even just youtube videos to watch later. Later on if you decide you are happy to share more information with use such as your real name and email address. Just visit your user page by clicking on your username in the top right hand corner and submit anything you wish to add. We do plan on adding profile pages later on.<br /><br />
								<strong>From<br /><br /> The Sign Painter</strong>
							</p>
						</div>
				</div>

				<div class="row">
					<div class="col-xs-12">
							<h1>News</h1>
					</div>
				</div>

				<div class="row">
				<div class="col-xs-12">
						<h2>Login System Implemented <span class="small">23rd April 2015</span></h2>

						<p>Awesome news,</p>
						<p class="text-justify">we have finally started to implement our login system. You can now log in by first registering a new user and then entering your details into the login form. This was a fairly large change and could have a number of breaking changes. It does however mean we can now start to roll out more advanced features and now persit your data between your vistis to our site.</p>
						<p class="text-justify">We shall next be working on moving the notes you save into your user profile rather then adding to a public list.</p>
						<p>From</p>
						<p>The Development Team</p>

					</div>
				</div>

				<div class="row">
				<div class="col-xs-12">
						<h2>Saving Notes <span class="small">19th April 2015</span></h2>

						<p>Saving Notes</p>
						<p class="text-justify">By clicking on the star icon next to a post you can now save that message as a note. For the time being these are available for everyone to see and is great way to share important messages and keep information. We are looking at how we can improve this feature in future, but we do have plans already to add filters based on user defined tags so that you can search through these more efficiently.</p>
						<p>From</p>
						<p>The Development Team</p>

					</div>
				</div>

				<div class="row">
				<div class="col-xs-12">
						<h2>New Private Chat Messages <span class="small">11th April 2015</span></h2>

						<p>In the latest update</p>
						<p class="text-justify">We have just added new private chat rooms in addition to the passworded rooms you can create. Just double click on the username of someone in your lobby and invite them to chat. A message will appear in both users browsers to join the new room.</p>
						<p class="text-justify"><i>Note: These new private chat rooms are not visible to other users and you are limited to one at a time. This feature will be exapanded upon soon however.</i></p>
						<p>From</p>
						<p>The Development Team</p>

				</div>
			</div>

				<div class="row">
				<div class="col-xs-12">
						<h2>Easter Gift <span class="small">3rd April 2015</span></h2>

						<p>Happy Easter!!</p>
						<p class="text-justify">We figured we would give you all a small gift in this easter update. You can now send images and youtube videos in your messages.</p>
						<p>To send images just copy and paste the url into your message. So for example "http://content63.eol.org/content/2012/08/09/02/43233_580_360.jpg".</P>
						<p>To include a youtube video copy and paste the youtube url into your message. "https://www.youtube.com/watch?v=dQw4w9WgXcQ".</p>
						<p>For the time being you can only post one youtube video at a time but we plan on improving on that soon. We are also looking at adding further content types you can send in your messages and maybe adding markdown support.</p>
						<p>As always if you get any issues please contact us.</p>
						<p>From</p>
						<p>The Development Team</p>

				</div>
			</div>


				<div class="row">
					<div class="col-xs-12">
							<h2>Backend Improvements <span class="small">30th March 2015</span></h2>

							<p>Just a quick update,</p>
							<p class="text-justify">So we spent last week adding a number of backend improvments upon which we will be able to build future functionality. Although you currently will not notice many changes they are there to make our lives easier. As always though, if you do start to have issues, please email in.</p>
							<p>From</p>
							<p>The Development Team</p>

					</div>
				</div>


				<div class="row">
					<div class="col-xs-12">
							<h2>Shiny New Chatsplosion Server <span class="small">25th March 2015</span></h2>

							<p>Exciting!</p>
							<p class="text-justify">So with our beta release with have moved our application to dedicated hosting. We now have a shiney new server that should be overkill for our purposes. We are hopefull however that Chatsplosion will get super popular in future and we shall be greatful for it.</p>
							<p class="text-justify">We have estimated that even without tweaking we should be able to support somehwere between 10,000 and 15,000 concurrent users.</p>
							<p>From</p>
							<p>The Development Team</p>

					</div>
				</div>

				<div class="row">
					<div class="col-xs-12">
							<h2>Chatsplosion Beta Anouncement <span class="small">24th March 2015</span></h2>

							<p>Welcome,</p>
							<p class="text-justify">Chatsplosion has finally been released to the wild. For the time being it is a pretty straight foward and simple chat application but as we go fowards more and more features will be added.</p>
							<p class="text-justify">The site has been made using the latest technologies so may have the odd bug here and there whilst we work out the kinks.</p>
							<p class="text-justify">Some of the features we have planned are:
									<ul>
										<li>Private messaging</li>
										<li>Image sharing</li>
										<li>Permenant logins and user registration</li>
									</ul>
							</p>
							<p class="text-justify">If you have any comments, find any bugs or have any suggestions on how we can improve the site please send us an email to <a href="mailto:tbc@example.com">tbc</a></p>
							<p>From</p>
							<p>The Development Team</p>

					</div>
				</div>

			<% } %>

		<!-- Modal -->
		<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title" id="myModalLabel">Create a new room</h4>
					</div>
					<div class="modal-body">
						<div class="row">
							<form>
								<div class="col-xs-12">
									<label>Room Name</label>
									<input type="text" id="roomname" class="form-control" />
								</div>

								<div class="col-xs-12">
									<label>Password</label>
									<input type="text" id="roompassword" class="form-control"/>
								</div>
								<div class="col-xs-12">&nbsp;</div>
								<div class="col-xs-12">
									<p class="text-justify"><i>Note: By filling in this form you can create a new room to chat in. To add password protection to your room type in a password below. If not then just leave it blank and no password will be required to chat in that room.</i></p>
								</div>

							</form>
						</div>
					</div>

					<div class="modal-footer">
						<span class="btn-group">
							<button type="button" class="btn btn-danger" data-dismiss="modal"><i class="glyphicon glyphicon-remove"></i> Close</button>
							<button type="button" class="btn btn-success" id="createroom" value="send" class="btn btn-default" data-dismiss="modal"><i class="glyphicon glyphicon-plus"></i>  New Room</button>
						</span>
					</div>

				</div>
			</div>
		</div>








		</div> <!--- end of connected--->

	</div> <!-- /container -->

	<div class="row">&nbsp;</div>

	<div class="container-fluid">
		<div class="well well-sm">
			<p class="text-muted text-center">By using this application you agree to follow the <a href="/terms-of-service" target="_blank">Terms of Service</a></p>
			<p class="text-muted text-center">Chatsplosion.com 2015 All Rights Reserved</p>
		</div>
	</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script src="https://cdn.socket.io/socket.io-1.3.5.js"></script>
<script src="main.js"></script>
</body>
</html>
