<!DOCTYPE html>
<html>
<head>
	<title>App</title>
	<link rel="stylesheet" href="/css/bootstrap.min.css" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

	<div class="container-fluid">

		<div class="row">
			<nav class="navbar navbar-default">
				<div class="container-fluid">
					<div class="navbar-header">
						 <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						 	<i class="glyphicon glyphicon-menu-hamburger"></i>
						 </button>
						<a class="navbar-brand" href="/">
							 <i class="glyphicon glyphicon-envelope"></i> Chatsplosion.com
						</a>
					</div>
					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						<ul class="nav navbar-nav">
							<li class="active"><a href="/">Home</a></li>
							<li><a href="/notes">Notes</a></li>
							<li><a href="/news">News</a></li>
							<li><a href="/terms-of-service">Terms</a></li>
						</ul>
						<ul class="nav navbar-nav navbar-right">
							<li class="text-right"><a href="/users"><b>Users online:</b> <span id="usercount">joining...</span></a><li>
						</ul>
					</div>
				</div>
			</nav>
		</div>

		<div class="disconnected">
			<div class="row">
				<div class="col-xs-12">
					<form id="userlogin">
						<div class="alert alert-info" role="alert">
							<% if( this.user) { %>
								<p>Logged In as: <%= this.user.username %></p>
							<% } %>
							<p><i class="glyphicon glyphicon-user"></i> Please pick a <strong>username</strong> to join the <strong>lobby.</strong></p>
							<p>Your username cannot be the same as someone already online and it must be at least 4 characters long.</p>
						</div>
						<label for="username">Username</label>
						<div class="input-group">
							<input id="username" type="text" class="form-control"/>
							<span class="input-group-btn">
								<button type="button" id="join" value="Join" class="btn btn-success">Join</button>
							</span>
						</div>
					</form>
				</div>
			</div>
		</div>

		<div class="connected" style="display:none;">
			<div class="row">
				<div class="col-xs-12">
					<div class="alert alert-info" role="alert">
						<p><i class="glyphicon glyphicon-info"></i>
							Any saved notes are available to anyone via the notes page.
						</p>
					</div>
					<ul id="rooms" class="nav nav-tabs"></ul>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<ul id="conversation" class="list-group"></ul>
				</div>
			</div>


			<div class="row">
				<div class="col-xs-12">
					<form>
						<div class="input-group">
						<input id="data" type="text" class="form-control"/>
						<span class="input-group-btn">
							<button type="button" id="datasend" value="send" class="btn btn-success"><i class="glyphicon glyphicon-send"></i>  Send</button>
							<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
								<i class="glyphicon glyphicon-plus"></i>	Create Room
							</button>
						</span>
						</div>
					</form>
				</div>
			</div>

		<!-- Modal -->
		<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title" id="myModalLabel">Create a new room</h4>
					</div>
					<div class="modal-body">
						<div class="row">
							<form>
								<div class="col-xs-12">
									<label>Room Name</label>
									<input type="text" id="roomname" class="form-control" />
								</div>

								<div class="col-xs-12">
									<label>Password</label>
									<input type="text" id="roompassword" class="form-control"/>
								</div>
								<div class="col-xs-12">&nbsp;</div>
								<div class="col-xs-12">
									<p class="text-justify"><i>Note: By filling in this form you can create a new room to chat in. To add password protection to your room type in a password below. If not then just leave it blank and no password will be required to chat in that room.</i></p>
								</div>

							</form>
						</div>
					</div>

					<div class="modal-footer">
						<span class="btn-group">
							<button type="button" class="btn btn-danger" data-dismiss="modal"><i class="glyphicon glyphicon-remove"></i> Close</button>
							<button type="button" class="btn btn-success" id="createroom" value="send" class="btn btn-default" data-dismiss="modal"><i class="glyphicon glyphicon-plus"></i>  New Room</button>
						</span>
					</div>

				</div>
			</div>
		</div>








		</div> <!--- end of connected--->

		<!--div>
			<div id="room creation">
			<input type="button" id="roombutton" value="create room" />
		</div-->

	</div> <!-- /container -->

	<div class="row">&nbsp;</div>

	<div class="container-fluid">
		<div class="well well-sm">
			<p class="text-muted text-center">By using this application you agree to follow the <a href="/terms-of-service" target="_blank">Terms of Service</a></p>
			<p class="text-muted text-center">Chatsplosion.com 2015 All Rights Reserved</p>
		</div>
	</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js"></script>
<script src="main.js"></script>
</body>
</html>
