<!DOCTYPE html>
<html>
<head>
  <title>App</title>
  <link rel="stylesheet" href="/css/bootstrap.min.css" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

  <div class="container-fluid">

    <div class="row">
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              <i class="glyphicon glyphicon-menu-hamburger"></i>
             </button>
            <a class="navbar-brand" href="/">
               <i class="glyphicon glyphicon-envelope"></i> Chatsplosion.com
            </a>
          </div>
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li ><a href="/">Home</a></li>
              <li class="active"><a href="/notes">Notes</a></li>
              <li><a href="/articles">News</a></li>
              <li><a href="/users">Users</a></li>
              <li><a href="/terms-of-service">Terms</a></li>
              <li><a href="/marvel/comics">Comics</a></li>
              <li><a href="/marvel/characters">Characters</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="/tickets">Help/Support</a></li>
              <li class="text-right"><a href="/users"><b>Users</b></a><li>
            </ul>
          </div>
        </div>
      </nav>
    </div>

    <div class="row">
      <div class="col-xs-12">
          <h1>Notes</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
         <ul class="notes list-group"></ul>
      </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
          <div class="well">
            <p class="text-justify">
              <strong>Notes</strong><br />
              <ol>
                <li>Notes are saved here based on your saved chat messages.</li>
                <li>When you no longer want to keep a post click on the cross in the top right corner.</li>
              </ol>
            </p>
          </div>
        </div>
    </div>


  </div> <!-- /container -->

  <div class="row">&nbsp;</div>

  <div class="container-fluid">
    <div class="well well-sm">
      <p class="text-muted text-center">By using this application you agree to follow the <a href="/terms-of-service"  target="_blank">Terms of Service</a></p>
      <p class="text-muted text-center">Chatsplosion 2015 All Rights Reserved</p>
    </div>
  </div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script>
  $(function(){
    getNotes();
    function getNotes(){
      $.get('/data/notes',function(data){
        $('.notes').html('');
        if(data){
          $.each(data,function(index,note){
            var contentStr= '<li class="list-group-item" data-id="' + note._id +'">' + note.from + ':-> ' + note.content +'<i title="remove" class="glyphicon glyphicon-remove pull-right"></i></li>';
            $('.notes').append(contentStr).find('i').click(function(){
              var self = $(this);
              $.ajax({
                method: "DELETE",
                url: "./data/notes/" + note._id
              }).done(function(){
                self.parent().fadeOut(500,function(){
                  self.remove();
                })
              }).fail(function(err){
                alert(err);
              });
            });
          });
        } else {
          $('.notes').append('<li class="list-group-item">There are no notes saved.</li>');
        }
      });
    }
  });
</script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-22261401-2', 'auto');
  ga('send', 'pageview');

</script>
</body>
</html>
