<!DOCTYPE html>
<html>
<head>
  <title>App</title>
  <link rel="stylesheet" href="/css/bootstrap.min.css" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

  <div class="container-fluid">

    <div class="row">
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              <i class="glyphicon glyphicon-menu-hamburger"></i>
             </button>
            <a class="navbar-brand" href="/">
               <i class="glyphicon glyphicon-envelope"></i> Chatsplosion.com
            </a>
          </div>
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li ><a href="/">Home</a></li>
              <li ><a href="/news">News</a></li>
              <li class="active"><a href="/terms-of-service">Terms</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li class="text-right"><a href="/users"><b>Users</b></a><li>
            </ul>
          </div>
        </div>
      </nav>
    </div>

    <div class="row">
      <div class="col-xs-12">
          <h2>Terms of Service</h2>
          <p>These terms and conditions are governed by the laws of Great Britain. They sound a bit scary, but there is no space on our site for scammers and spammers and we are really just looking out for you the user. We hope you agree :-D </p>
          <ol>
            <li>
              <h3>Limited Liability</h3>
              <p class="text-justify">Use this site at your own risk. Whilst we aim to provide a fast, stable and secure platform, this application is still in beta and we can not be held responsible for any errors.</p>
            </li>
            <li>
              <h3>Copyright Infringment</h3>
              <p class="text-justify">We do not host 3rd party content. Anyone found attempting to improperly distribute content may find their accounts banned/susspend pending further investigation.</p>
            </li>
            <li>
              <h3>Unauthorized</h3>
              <p class="text-justify">Unauthorised advertising and automated posting is prohibited. By using this application and making prohibited posts you will be liable for investigation fees, collection fees and court costs. The charge for each unauthorised advertising post is £10. You wave all rights to privacy and we reserve the right to call those nessasary in the resulting investigation. </p>
            </li>
            <li>
              <h3>Language</h3>
              <p class="text-justify">Please be mindful of who else are in the rooms with you. Exercise caution in what you say and don't offend others. We are not responsible for the statements made by third parties and do not endorse discrimination or abuse.</p>
            </li>
            <li>
              <h3>Privacy</h3>
              <p class="text-justify">Our website will collect information so that we can provide a service to our customers. This information will only be used by ourselves and will not be passed onto a third party.</p>
            </li>
            <li>
              <h3>Minimum Age</h3>
              <p class="text-justify">Just to keep things simple and to protect minors, by using this application you affirm and warrant that you are over eighteen years of age. </p>
            </li>
            <li>
              <h3>Reserved Right of Removal</h3>
              <p class="text-justify">We reserve the right to permenantly ban/cancel accounts for any users failing to comply with our terms of service.</p>
            </li>
          </ol>
      </div>
    </div>

  </div> <!-- /container -->

  <div class="row">&nbsp;</div>

  <div class="container-fluid">
    <div class="well well-sm">
      <p class="text-muted text-center">By using this application you agree to follow the <a href="/terms-of-service"  target="_blank">Terms of Service</a></p>
      <p class="text-muted text-center">Chatsplosion 2015 All Rights Reserved</p>
    </div>
  </div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</body>
</html>
