<html>
	<head>
		<title>Ticket System - Under Development</title>
	</head>
	<body>
		<h1>Ticket System</h1>
		<h2>Under development</h2>
		<p class="text-justify">OK, so we put our hands up to this. We should have had this in place right from the begining but with the project getting bigger its not getting more difficult to manage. We want you the users to be able to shape the direction of chatsplosion and so we shall soon be unveiling our new ticketing system.
		</p>
		<p>With the new system you will be able to post suggestions or report bugs. Users can then vote on these to raise the priority of that ticket. The development team will then take the highest voted tickets and try to resolve them asap.</p>
		<p>Kinds Regards,</p>
		<p>The Development Team</p>
	</body>
</html>