<!DOCTYPE html>
<html>
<head>
  <title>App</title>
  <link rel="stylesheet" href="/css/bootstrap.min.css" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

  <div class="container-fluid">

    <div class="row">
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="/">
               <i class="glyphicon glyphicon-envelope"></i> Chatsplosion.com
            </a>
          </div>
          <div>
            <ul class="nav navbar-nav">
              <li ><a href="/">Home</a></li>
              <li class="active"><a href="/news">News</a></li>
              <li><a href="/terms-of-service">Terms</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li class="text-right"><a href="/users"><b>Users</b></a><li>
            </ul>
          </div>
        </div>
      </nav>
    </div>

    <div class="row">
      <div class="col-xs-12">
          <h1>Users Online</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
         <ul class="users list-group"></ul>
      </div>
    </div>


  </div> <!-- /container -->

  <div class="row">&nbsp;</div>

  <div class="container-fluid">
    <div class="well well-sm">
      <p class="text-muted text-center">By using this application you agree to follow the <a href="/terms-of-service"  target="_blank">Terms of Service</a></p>
      <p class="text-muted text-center">Chatsplosion 2015 All Rights Reserved</p>
    </div>
  </div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script>
  $(function(){

    var timer = setInterval(updateUsers,15000);
    updateUsers();

    function updateUsers(){
      $.get('/data/users',function(data){
        $('.users').html('');
        if(data){
          $.each(data,function(index,username){
            $('.users').append('<li class="list-group-item">'+ username +'</li>');
          });
        } else {
          $('.users').append('<li class="list-group-item">There are no users online in the rooms.</li>');
        }
      });

    }

  });
</script>
</body>
</html>
