<html>
  <head>
    <title>wbh</title>
  </head>
  <body>
    <div class="menu">
      <button class="btn-start">Start Game</button>
      <button class="btn-stop" style="display:none">Stop Game</button>
      <span class="timer">0</span> time, 
      <span class="fps">0</span> fps
    </div>

    <div class="ui">
      <div class="players">
      </div>
    </div>


    <script type="text/javascript" src="jquery.js"></script>
    <script type="text/javascript" src="wbh.js"></script>
  </body>
</html>
