<!DOCTYPE html>
<html>
<head>
  <title>www.chatsplosion.com - home page</title>
  <link rel="stylesheet" href="/css/bootstrap.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-markdown/2.8.0/css/bootstrap-markdown.min.css" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <h1>Brotherhood of Baal</h1>
        <h2>The distracting minigame</h2>
        <ul class="list-group">
          <li class="list-group-item"><a href="/minigame/xenos/">Xenos Encyclopedia</a></li>
          <li class="list-group-item"><a href="/minigame/weapons/">Weapons Encyclopedia</a></li>
        </ul>
      </div>
    </div>
    <div class="row">
        <div class="col-md-12">
          <div class="minigame-container">
          </div>
        </div>
    </div>
  </div>

  <script id="xeno-template" type="text/x-handlebars-template">
    <div class="xeno">
      <h1>{{title}}</h1>
      <p>{{description}}</p>
    </div>
  </script>

  <script type="text/javascript" src="/jquery.js"></script>
  <script type="text/javascript" src="/handlebars-v3.0.3.js"></script>
  <script type="text/javascript" src="/minigame.js"></script>
</body>
</html>
